@model CafeteriaOnline.Website.Models.Order
@{
    ViewData["Title"] = "Shop";
}
<div style="font-size: 2rem;">
    <a asp-action="Cart">
        <i class="fa fa-shopping-cart fa-9x"></i>
        Cart
        @ViewBag.count
    </a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                MealType
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                ValidUntil
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.meals)
        {
            <tr>
                <td>
                    <a href="@item.ImageUrl">
                        <img src="@item.ImageUrl" style="position:relative;width:40px;height:40px;overflow:hidden;border-radius:50%;" />
                    </a>
                </td>
                <td>
                    @item.MealType
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.ValidUntil
                </td>


            </tr>
            @foreach (var mealConfiguration in item.MealConfigurations)
            {
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        @mealConfiguration.Ingredients
                    </td>
                    <td></td>
                    <td>
                        $@mealConfiguration.Price
                    </td>
                    <td>
                        <a style="display: inline-block; padding: 4px 8px; color: white; background-color:limegreen; border-width: 2px;  border-radius:20%;"
                           asp-action="AddItem" asp-route-id="@mealConfiguration.MealConfigurationId">Add</a>
                    </td>
                </tr>


            }
        }
    </tbody>
</table>

