@model CafeteriaOnline.Website.Models.Order

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderId" />
            <input type="hidden" asp-for="ModifiedDate" />
            <input type="hidden" asp-for="OrderDate" />

            <div class="form-group">
                <label asp-for="ForDate" class="control-label"></label>
                <input asp-for="ForDate" class="form-control" />
                <span asp-validation-for="ForDate" class="text-danger"></span>
            </div>

            @for (int i = 0; i < Model.OrderItems.Count; i++)
            {
                <hr />
                <span> <b> @Html.DisplayFor(m => m.OrderItems[i].MealConfiguration.Meal.Name)</b> </span>

                <input type="hidden" asp-for="@Model.OrderItems[i].MealConfigurationId" />
                <input type="hidden" asp-for="@Model.OrderItems[i].OrderId" />
                <input type="hidden" asp-for="@Model.OrderItems[i].MealConfiguration.MealId" />
                <input type="hidden" asp-for="@Model.OrderItems[i].MealConfiguration.Meal.ValidUntil" />
                <div class="form-group ">
                    <label asp-for="@Model.OrderItems[i].Quantity" class="control-label"></label>
                    <input asp-for="@Model.OrderItems[i].Quantity" class="form-control" />
                    <span asp-validation-for="@Model.OrderItems[i].Quantity" class="text-danger"></span>
                </div>
                <div class="form-group ">
                    <span> @Model.OrderItems[i].MealConfiguration.Ingredients</span>
                </div>
                <div class="form-group ">
                    <span> $@Model.OrderItems[i].GetOrderItemPrice()</span>
                </div>
            }
            <div class="form-group ">
                <span> <b>Total Price $@Model.GetTotalPrice()</b></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
